body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #03045e;
    color: #fff;
    padding: 10px;
    height: 25px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  
 .menu-icon1{
    display: none;
    height: inherit;
 }
  .menu-icon1 img{
    height: inherit;
    border-radius: 5px;
  }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

  }
  .menu button{
    background:none;
    color: whitesmoke;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    font-family: "Itim", cursive;
    letter-spacing: 1px;
  }
  .menu button:hover{
    color: #888;
  }
  
  .menu li {
    padding: 0 15px;
  }
  

  
  .hambutton {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 20px;
  }
  .hambutton img{
    height: inherit;
    width: inherit;
    filter: invert(1);
    background-color: transparent;
  }
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
   
    .menu {
      display: none;
      flex-direction: column;
      background-color: #03045e;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      transform-origin: top;
      animation: hamopen 1s ease-in-out forwards ;
    }

    @keyframes hamopen{
        from{
            transform: scaleY(0);
        }
        to{
            transform: scaleY(1);
        }
    }
    .menu-icon1{
        display: block;
     }
    
  
    .menu li {
      padding: 15px;
      border-bottom: 1px solid #888;
    }
  
    .hambutton {
      display: block;
    }
  }
  