.ma-inr-fullscreen{
    width: 100vw;
    height: 100vh;
    background-color: #124559;

    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.ma-inr-center{
    width: 100%;
    max-width: 800px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dee2ff;
    border-radius: 8px;
}
.ma-inr-head{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}
.ma-inr-head button{
    height: 100%;
    position: absolute;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}
.ma-inr-head img{
    height: inherit;
    rotate: 90deg;
    user-select: none;
    transform: scale(0.7);
}

.ma-inr-body{
    height: 90%;
    background-color: #f1faee;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    align-items: center;
}
.ma-inr-item{
    width: 100%;
    max-width: 450px;
    height: 100%;
    background-color: rgba(234, 77, 77, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ma-inr-ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    padding: 5px 10% ;
}
.ma-inr-lileft{
    width: 30%;
    font-weight: bold;
}
.ma-inr-liright{
    width: 60%;
}
.ma-inr-liright input,.ma-inr-liright select{
    width: 90%;
    border: none;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
}
.ma-inr-liright textarea{
    width: 90%;
    border: none;
    padding: 4px;
    resize: none;
    outline: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.ma-inr-liright button{
    width: 90%;
    border: none;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
}
.ma-inr-submitbtn{
    width: 60%;
    padding: 5px 0;
    background-color: #023047;
    color: white;
    font-weight: bold;
    font-size: larger;

}
@media (max-width:768px) {
    .ma-inr-ul{
        padding: 5px 18px;
        justify-content: space-between;
    }
}