

.loading-skeleton {
    width: 100%;
    background-color: #fff;
    margin: 5px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .loading-skeleton-item {
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    animation: shimmer 1.5s infinite linear alternate-reverse;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.8;
    }
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }
  


  .ma-vtr-dhead-loader{
  
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ebebeb;
    position: relative;
    overflow: hidden;
    margin: 2px 0;
  }
  .ma-vtr-dhead-loader::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(8, 8, 8, 0.99), transparent);
    animation: loading 1.5s infinite;
  }
  @keyframes loading{
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

