
.ad-sup-fullscreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#4cc9f0,#4895ef,#4361ee, #3f37c9);

}
.ad-sup-center{
    width:100%;
    height: 80%;
    max-width: 600px;
    background-color: #2b2d42;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}
.ad-sup-head{
    width: unset;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2d42;

    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border-bottom: 1px solid white;
}
.ad-sup-body{
    width: unset;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    padding: 10px 0px;
    background-color: #2b2d42;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;

}
.ad-sup-ipitem{
    width: 280px;
    list-style: none;
}
.linkad-sup{
    width: unset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
.ad-sup-ipitem li{
    width: 100%;
    
}
.ad-sup-ipitem label{
    width: 100%;
    font-weight: bold;
    margin-top: 2px;
}
.ad-sup-ipitem input{
    width: 100%;
    padding: 4px 0;
    border: none;
    border-radius: 4px;
    outline: 1px solid black;
}

.ad-sup-signupbtn{
    width: 100%;
    margin-top: 5px;
    padding: 4px 4px;
    outline: 1px solid black;
    border-radius: 4px;
    border: none;
    background: #1d3557;
  background: #1a759f;

    color: wheat;
}


.ad-sup-sendotp{
    width: 100%;
    margin-top: 5px;
    padding: 4px 4px;
    outline: 1px solid black;
    border-radius: 4px;
    border: none;
    background: #1d3557;
  background: #1a759f;

    color: wheat;
}