.cm-fp-fscreen{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(135deg,#0077b6,#0077b6,#0077b6,#0077b6,#0077b6,#0096c7,#00b4d8,#00b4d8,#0096c7,#0077b6,#0077b6,#0077b6,#0077b6,#0077b6);
}
.cm-fp-center{
    height: auto;
    width: 95%;
    max-width: 400px;
    background-color: #03045e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #edf2f4;
}
.cm-fp-center h1{
    height: 10%;
    text-align: center;
    width: unset;
    border-bottom: 1px solid green;
    padding: 6px 8px;
}
.cm-fp-input{
height: 90%;
display: flex;
flex-direction: column;
align-items: center;
margin: 10px 0;
}
.cm-fp-input input{
    width: 250px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    height: 20px;
    text-align: center;
}
.cm-fp-input ul{
    list-style: none;
}
.cm-fp-li{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 0 !important;
}
.cm-fp-lable{
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px 0;
}
.cm-fp-resetbtn{
    margin-top: 10px;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    background: #22577a;
border: none;
color: #ffffff;
font-size: large;

}
.cm-fp-resetbtn:hover{
    background: #5c9bc6;

}
.cm-fp-otpbtn{
    padding: 6px 4px;
    position: absolute;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    right: 0;
    background: #22577a;
    color: rgb(212, 205, 205);
    
}


.cm-fp-otpbtn:hover{
    background: #5c9bc6;
}
.cm-fp-otpbtnbox{
    position: relative;
    width: 100%;
}
.cm-fp-username{
    padding-right: 80px;
}
.cm-fp-otpbtn img{
    height:12px;
    width: 20px;
    filter: invert(1);
}
.cm-color-red{
    color: red;
}