@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');


.ad-ptv-fullscreen{
    position: fixed;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.54);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}
.ad-ptv-center{
    width: 100%;
    max-width: 500px;
   height:unset;
   background-color: bisque;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    animation: openreqview 0.4s ease-in-out;
}
@keyframes openreqview {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }    
}
.ad-ptv-head{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93a8ac;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ad-ptv-body{
    height: 90%;
    width: 100%;
    background-color: #e1e5f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: auto;
    padding: 20px 0;
}
.ad-ptv-bodyul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 12px 0;
}
.ad-ptv-lileft{
    width: 30%;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;

}
.ad-ptv-liright{
    width: 50%;
    text-align: center;
    word-wrap: break-word;
}
.ad-ptv-closebtn{
    width: 120px;
    padding: 10px;
    border: none;
    background-color: #243e36;
    outline: 1px solid white;
    border-radius: 3px;
    color: white;
}
.ad-ptv-closebtn:hover{
    background-color: #46d2a8;
}
.ad-ptv-bodyulbtn{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}