
.techright{
    display: flex;
}
.techright select{
    width: 70px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: #26563e;
    color: white;
}
.techright button{
    width: 70px;
    height: inherit;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #74c69d;
    transition: all 0.5s;
/* color: ; */
}
.techright button:hover{
    background-color: #2d6a4f;
    color: #ffff;
}
.techright input{
    border: none;
    border-radius: none;
}
.viewreq {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #f1faee;
}

.reqcenter {
    position: relative;
    display: flex;
    margin: auto;
    background-color: aliceblue;
    position: relative;
    top: 20px;
    height: 80%;
    width: 95%;
    max-width: 800px;
    border-radius: 4px;
}

.reqleft {
    position: relative;
    top: 0;
    width: 35%;
    overflow: auto;
    /* border-right: 2px solid black; */
    padding: 0px 0px;


}
.headingtype{
    font-size: large;
    font-weight: bold;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.reqhead {
    display: flex;
    padding: 8px 0;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(229, 226, 219);
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid orange;
}
.reqheadright{
    display: flex;
    padding: 4.5px 10px;
    justify-content: space-between;
    background-color: rgb(224, 222, 217);
}

.reqhead div {
    width: 50%;
}

.maps {
    display: flex;
    padding: 5px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: -1;
    padding-left: 4px;
    cursor: pointer;
    transition: all 0.5s;

}
.maps:hover{
    background-color: antiquewhite;
}

.maps div {
    width: 50%;
    text-align: center;
}

.reqright {
    width: 65%;
    background:linear-gradient(45deg,#48cae4,#ade8f4,#48cae4,#90e0ef,#ade8f4,#48cae4,#90e0ef);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.reqright h2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.detailsbox{
    display: flex;
    width: 100%;
    height: 81%;
    flex-direction: column;
}
.dblock{
    margin: auto;
    display: flex;
    width: 75%;
    justify-content: center;
}
.dataleft{
    width: 40%;
    font-size: 20px;
    font-weight: bold;
}
.dataright{
    width: 60%;
    /* font-size: 20px; */
    justify-content: center;
padding: 3px 5px;
}
.drightselect{
    height: 26px;
    border: none;
    font-size: 18px;
}
.detailsbuttons{
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* width: 40%; */
}
.detailsbuttons button{
    padding: 5px 20px ;

    
}
.serachresult1{
    position: absolute;
    /* top: 100%; */
    right: 2px;
    width: 50%;
    border: 2px solid white;
    height: 210px;
    background-color: aliceblue;
  
}

.active-bgcolor{
    background-color: #90e0ef !important;
}
.ma-req-creatbtn{
    position: absolute;
    bottom: 40px;
    right: 50px;
    height: 60px;
    width: 60px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.ma-req-linkbtn{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 4;
}
.ma-req-linkbtn::before{
    content: 'Click To Add Request';
    position: absolute;
    right: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    height: inherit;
    background-color: orange;
    padding: 0px 10px;
    padding-right: 60px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1.2s ease,opacity 1.2s ease;
    border-radius: 5px;
    font-weight: bold;
   
}
.ma-req-linkbtn:hover::before{
    opacity: 1;
    transform: scaleX(1);

}
.ma-req-linkbtn img{
    width: inherit;
    height: inherit;
    transform: scale(0.7);
    filter: invert(0.4);
    user-select: none;
    cursor: pointer;
}



.ma-req-Inquerybtn{
    position: absolute;
    bottom: 40px;
    left: 50px;
    height: 60px;
    width: 60px;
    background-color: #023047;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.ma-req-Inquerybtn img{
    filter: invert(1);
}
.ma-req-linkbtn1{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 4;
}
.ma-req-linkbtn1::before{
    content: 'Create Inquery';
    position: absolute;
    left: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    height: inherit;
    background-color: #023047;
    padding: 0px 10px;
    padding-left: 60px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1.2s ease,opacity 1.2s ease;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
}
.ma-req-linkbtn1:hover::before{
    opacity: 1;
    transform: scaleX(1);

}
.ma-req-linkbtn1 img{
    width: inherit;
    height: inherit;
    transform: scale(0.7);
    user-select: none;
    cursor: pointer;
}




@media (max-width:768px) {
    
.ma-req-Inquerybtn{
    bottom: 15px;
    left: 10px;
    height: 30px;
    width: 30px;
}
.ma-req-creatbtn{
    right: 10px;
    bottom: 15px;
    height: 30px;
    width: 30px;
}
    
}