
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
.ad-rdb-fullscreen{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    
     font-family: 'Exo 2', sans-serif;
}
.ad-rdb-centerdiv{
    margin-top: 40px;
    width: 100%;
    height: auto;
}
.ad-rdb-head{
    min-height: 40px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary);
    position: sticky;
    top: 40px;
    color: var(--onprimary);
}
.ad-rdb-hright{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;

}
.ad-rdb-hleft{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 4px;
    width: 70%;
    justify-content: center;

}
.ad-rdb-selectip{
    height: 20px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--secondary);
    color: var(--primary);
    width: 60px;
    outline: 1px solid black;
    
}

.ad-rdb-searchip{
    height: 20px;
    width: 165px;
    border: none;
    outline: 1px solid black;
    
}
.ad-rdb-searchbtn{
    height: 20px;
    width: 30px;
    border: none;
    background-color: var(--secondary);
    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: 1px solid black;

}
.ad-rdb-3dot{
    width: 10px;
    height: 30px;
    border: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ad-rdb-3dot img{
    height: inherit;
    width: inherit;
    scale: 0.7;
}
.ad-rdb-searchbtn img{
    height: 20px;
    width: unset;
    filter: invert(1);
    transform: scale(0.8);
}

.ad-rdb-body{
    height: 77vh;
    overflow: auto;
}


.ad-rdb-mapitem{
    padding: 10px;
    background-color: #dadddf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 1px 0px 8px -2px #111 ;
    border-bottom: 1px solid ;
}

.ad-rdb-nmsg{
    justify-content: center;
}
.ad-rdb-names{
    padding: 4px 0;
    width: 17%;
    overflow: hidden;
    overflow-wrap: hidden;
}
.ad-rdb-index{
    width: 4%;
    text-align: left;
    color: #0000ef;
    font-weight: bold;
}
.ad-rdb-viewbtndiv{
    width: 8%;
}





.ad-rdb-pages{
  
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
    overflow-wrap: wrap;
    padding: 6px 10px;

}
.ad-rdb-pages-ul{
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.ad-rdb-pages-ul li{
    margin: 3px 10px;
    background-color: orangered;
    padding: 5px;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.ad-rdb-pageactiv{
    color: white;
    background: #aee201 !important;
}
.ad-rdb-ul-prev{
    margin: 3px 10px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: #a8dadc !important;
    color: black !important;
    border: none;
}
.ad-rdb-disabled{
    opacity: 0.6;
}
.ad-rdb-viewbtn{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color:var(--onprimary) ;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 4px;
}
.ad-rdb-serachdiv{
    display: flex;
    position: relative;
}
.ad-rdb-serachresut{
    position: absolute;
    top: 120%;
    left: -20%;
    height: 250px;
    background-color: #dfe7fd;
    border-radius: 5px;
    outline: 1px solid black;
    width: 120%;
    overflow: auto;
    animation: serachopen 0.4s forwards ease;
    
}
@keyframes serachopen {
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
    
}
.ad-rdb-serachmapitem{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    border-bottom: 1px solid gray;
    padding: 4px 0;
}
.ad-rdb-serachname{
    width: 50%;
    text-align: center;
}
.ad-rdb-serachview{
    width: 100%;
    text-align: center;
}
.ad-rdb-serachview button{
    padding: 5px 10px;
    border: 1px solid black;
    background-color: #3d5a80;
    color: #fff;
    border-radius: 6px;
}
.ad-rdb-serachview button:hover{

    background-color: #4258c1;
    border-radius: 4px;

}







.ad-rdb-3dot-hide{
    position: relative;
}
.ad-rdb-3dot-hbody{
    position: absolute;
    background-color: #b8bedd;
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 90%;
    animation: showbtns 0.6s forwards ease;
    transform-origin: right top;
    border-radius: 4px;
    outline: 1px solid black;
}
.ad-rdb-3dot-hbody button{
    width: 100px;
    overflow: hidden;
   height: 25px;
   background: transparent;
   border: none;
  border-bottom: 1px solid white;
   padding: 1px;
   font-weight: bold;
   color: #003049;
    


}
@keyframes showbtns {
    from{
        transform: scale(0);
    }
    t0{
        transform: scale(1);
    }
    
}


@media (max-width:786px) {
    .ad-rdb-head{
    padding: 8px 5px;

    }
    .ad-rdb-hright{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .ad-rdb-names{
        width: auto;

    }
    .ad-rdb-viewbtndiv{
        width: 100%;
        text-align: center;
    }
    .ad-rdb-serachresut{
        left: 0;
    }
}