.viewtechrequest{
    height: 100vh;
    width: 100vw;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.techcenterdiv{
    /* margin: auto; */
    margin-top: 40px;
    height: 80%;
    /* border: 2px solid red; */
    border-radius: 5px;
    width: 95%;
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: white;

}
.navtopfortech{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: unset;
    background-color: #457b9d;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
    font-weight: bold;
}

.ma-vrr-bottom{
  height: 90%;
overflow: auto;  
width: 100%;
}
.ma-vrr-fullhead{
  height: 40px;
  overflow: hidden;
  box-shadow: 2px 1px 4px #000;
  background-color: #a3b18a;


}
.ma-vrr-dhead{
  height: 40px;
  width: unset;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e9edc9;

}
.ma-vrr-dbody{
  height: 210px;
  transition: all 0.5s ease;
  animation: openwrap 1s forwards;
  overflow: auto;
}
.ma-vrr-openwrap{
  height: 40px ;
  animation: openwrap 1s forwards;
}
@keyframes openwrap {
  form{
    height: 40px;
  }
  to{
    height: 250px;
  }
  
}
.ma-vrr-dhead-body{
  width: 25%;
}
.ma-vrr-dreq{
  width: unset;
  background-color: #dad7cd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
  padding: 0 10px;
  box-shadow: 1px 1px 2px #000000;
}
.ma-vrr-colorgreen{
  background-color: #c7f9cc;

}
.ma-vrr-name{
  padding: 0 2px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.padding{
  padding: 0 3px;
}


@media (max-width:768px) {
  .navtopfortech{
    height: auto;
    padding: 4px 0px;
  }
  .navtopfortech .techleft{
    font-size: 1.5em;
  }
.ma-vrr-dreq{
  height: fit-content;
  flex-direction: column;
}
.ma-vrr-openwrap{
  height: 40px ;
  animation: openwrap 1s forwards;
}
@keyframes openwrap {
  form{
    height: 40px;
  }
  to{
    height: 350px;
  }
  
}
.techcenterdiv{
  height: 82%;
}
    
}