body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #888;
  }
  
  .dashnavtech{
    position: fixed;
    top: 0;
    width: 100vw;
    top: 0;
    background-color: #03045e;
    color: #fff;
    padding: 10px;
    height: 25px;
    z-index: 5;
  }
  
  .containertech {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  
 .menu-icontech{
    display: block;
    height: inherit;
 }
  .menu-icontech img{
    height: inherit;
    border-radius: 5px;
  }
  .menutech {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;

  }
  .Linktagtech{
    color: #ffff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .menutech li {
    padding: 0 15px;
  }
  
  

  
  .hambuttontech {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 20px;
  }
  .hambuttontech img{
    height: inherit;
    width: inherit;
    filter: invert(1);
    background-color: transparent;
  }
  .bartech {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  #profiledataboxtech{
    position: absolute;
    width: 300px;
    right: 0;
    border: 2px solid red;
    height: 200px;
    display: none;
    background-color: black;

  }
  .profilebtntech{
    padding: 1px 5px;
    margin-right: 10px;
    border:none;
    color: var(--primary);
    font-weight: bold;
  }
  .profilebtntech:hover{
    box-shadow: 1px 2px 20px 2px var(--primary);
  }
  .profilecontainertech{
    position: relative;
  }
  .hamlogoutbtn{
    display: none;
  }
  
  @media (max-width: 768px) {
   
    .menutech {
      display: none;
      flex-direction: column;
      background-color: #03045e;
      position: absolute;
      top: 45px;
      left: 0;
      right: 0;
      transform-origin: top;
      animation: hamopen 0.6s ease-in-out forwards ;
    }
    .profilecontainertech{
        display: none;
        width: 0;
    }

    @keyframes hamopen{
        from{
            transform: scaleY(0);
        }
        to{
            transform: scaleY(1);
        }
    }
    .menu-icontech{
        display: block;
     }
     .hamlogoutbtn{
        display: block;
     
      }
    
  
    .menutech li {
      padding: 15px;
      border-bottom: 1px solid #888;
      text-align: center;
    }
  
    .hambuttontech {
      display: block;
      margin-right: 20px;
    }

  .menutech li::after{
    background-color: transparent;
  }
  .Linktag:hover::after{
    transform: scaleX(0);
  }
  }
  