.ma-cr-fullscreen{
    width: 100vw;
    height: 100vh;
    background-color: #124559;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.ma-cr-center{
    width: 100%;
    max-width: 800px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dee2ff;
    border-radius: 8px;
}
.ma-cr-head{
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.ma-cr-head button{
    height: 100%;
    position: absolute;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}
.ma-cr-head img{
    height: inherit;
    rotate: 90deg;
    user-select: none;
    transform: scale(0.7);
}
.ma-cr-body{
    height: 90%;
    background-color: #f1faee;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    align-items: center;
}
.ma-cr-item{
    width: 100%;
    max-width: 450px;
    height: 100%;
    background-color: rgba(234, 77, 77, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ma-cr-ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    padding: 5px 10% ;
}
.ma-cr-lileft{
    width: 30%;
    /* max-width: 150px; */
}
.ma-cr-liright{
    width: 60%;
}
.ma-cr-liright input,.ma-cr-liright select{
    width: 90%;
    border: none;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
}
.ma-cr-liright textarea{
    width: 90%;
    border: none;
    padding: 4px;
    resize: none;
    outline: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.ma-cr-liright button{
    width: 90%;
    border: none;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
}

@media (max-width:768px) {
    .ma-cr-ul{
        padding: 5px 18px;
        justify-content: space-between;
    }
}