@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');


.ma-pv-fullscreen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.54);
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;


}
.ma-pv-center{
    width: 100%;
    max-width: 600px;
   height: 350px;
   background-color: bisque;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.ma-pv-head{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93a8ac;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ma-pv-body{
    height: 88%;
    width: 100%;
    background-color: #e1e5f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: auto;
}
.ma-pv-bodyul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    max-width: 350px;
    padding: 6px 0;
}
.ma-pv-lileft{
    width: 30%;
    margin-right: 20px;
    text-align: center;
}
.ma-pv-liright{
    width: 50%;
    text-align: center;
}
.ma-pv-lileftbtn button{
    width: 120px;
    padding: 10px;
    border: none;
    background-color: #243e36;
    outline: 1px solid white;
    border-radius: 3px;
    color: white;
}
.ma-pv-lileftbtn button:hover{
   
    background-color: #46d2a8;
    
   
}
.ma-pv-bodyulbtn{
    display: flex;
    list-style: none;
    width: 100%;
    max-width: 300px;
    justify-content: space-between;
}
.ma-pv-liright select{
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: 1px solid black;
}
.ma-pv-disable{
    opacity: 0.5;
}
.ma-pv-liright textarea{
    width: 100%;
    resize: none;
    border-radius: 5px;
    text-align: center;

}