.slideshow-container{

    position: relative;
  justify-content: center;
    margin: auto;
  background-color: #90e0ef;
  /* background-color: #fcbf49; */

  }
  
  .fade{
    position: relative;
   text-align: center;
    
  }
.transition-fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: imgfade;
  animation-duration: 3s;
}
@keyframes imgfade{
  0%{
    opacity: 0.2;
  }
  30%{
    opacity: 0.5;
  }
  60%{
    opacity: 0.8;
  }
  90%{
    opacity: 1;
  }
 
}

.transition-fade.show {
  opacity: 1;
}

  .fade img{
    z-index: -1;
    width: 100vw;
    height: 85vh;
  }
  .slidercenter {
    position: absolute;
    top: 20%;
    left: 20%;
    text-align: left;
    width: 56%;
    height: 50%;
  }
  @keyframes fade{
    from{
      opacity: .6;
    }
    to{
      opacity: 1;
    }
  }
  
    @import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
  
  .slidertop {
    font-size: x-large;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 18px;
    color: #000000;
  }
  
  .slidermiddle {
    /* border: 2px solid red; */
    font-size: 75px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    color: #023e8a;
  }
  
  .bookservice {
    margin-top: 5px;
    padding: 10px;
    background: orange;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 3px 3px 2px #005066;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
  }
  
  .bookservice:hover {
    color: whitesmoke;
  }

  @media (max-width: 768px) {
   
    .fade{
      height: vh;
    }

    .fade img{
       
        height: inherit;
    }
    .slidercenter{
        width: auto;
        height: auto;
        top: 6%;
        left: 10%;
    }
    
    .slidertop{
        font-size: 16px;
    }
    .slidermiddle{
        font-size: 32px;
    }
  }