body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #888;
  }
  
  .dashnav{
    position: fixed;
    top: 0;
    width: 100vw;
    top: 0;
    background-color: #03045e;
    color: #fff;
    padding: 10px;
    height: 25px;
    z-index: 8;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  
 .menu-icon{
    display: block;
    height: inherit;
    /* width: 35%; */
 }
  .menu-icon img{
    height: inherit;
    border-radius: 5px;
  }
  .menu {
    display: flex;
    /* position: absolute;
    top: 45px; */

    list-style: none;
    margin: 0;
    padding: 0;

  }
  .Linktag{
    color: #ffff;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
  }

 
  
  .menu li {
    padding: 0 15px;
  }
  .Linktag::after{
    content: "";
    position: relative;
    top: 3px;
    display: block;
    height: 3px;
    width: 105%;
    background-color: #fb8500;
    transform: scaleX(0);
    border-radius: 3px;
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .Linktag:hover::after{
    cursor: pointer;
    transform: scaleX(1);
    transform-origin: left;
  }
  .activeLinktag::after{
    content: "";
    position: relative;
    top: 3px;
    display: block;
    height: 3px;
    width: 105%;
    background-color: #fb8500;
    transform: scaleX(1);
    border-radius: 3px;
    transform-origin: right;
    transition: transform 0.4s ease;
  }
 
  

  
  .hambutton {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 20px;
  }
  .hambutton img{
    height: inherit;
    width: inherit;
    filter: invert(1);
    background-color: transparent;
  }
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  #profiledatabox{
    position: absolute;
    width: 300px;
    /* top: 2px; */
    right: 0;
    border: 2px solid red;
    height: 200px;
    display: none;
    background-color: black;

  }
  .profilebtn{
    /* border: none; */
    padding: 1px 5px;
    background:transparent;

  }
  .profilecontainer{
    position: relative;
  }
  #menulogoutbtn{
    display: none;
  }
  
  /* Media Query for Hamburger Menu */
  @media (max-width: 768px) {
   
    .menu {
      display: none;
      flex-direction: column;
      background-color: #03045e;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      transform-origin: top;
      animation: hamopen 1s ease-in-out forwards ;
    }

    #logoutbtnright{
      display: none;
    }
    @keyframes hamopen{
        from{
            transform: scaleY(0);
        }
        to{
            transform: scaleY(1);
        }
    }
    .menu-icon{
        display: block;
     }
    
  
    .menu li {
      padding: 10px;
      border-bottom: 1px solid #888;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .hambutton {
      display: block;
      margin-right: 18px;
    }
    .navtopfortech{
      height: 14%;
      justify-content: none;
      flex-direction: column;
    }
    .menu li:hover::after{
      cursor: pointer;
      transform: scaleX(0);
      transform-origin: left;
    }
    .menu li::after{
      display: none;
    }
    .menu li{
      text-align: center !important;
    }
    #menulogoutbtn{
      display: block;
      padding: 1px 5px;

    }
    .Linktag:hover::after{
      transform:scaleX(0);
    }
  .activeLinktag::after{
    transform:scaleX(0);

  }
  }
  