.mainfooter{
    border-top: 2px solid rgba(128, 128, 128, 0.758);
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffedea;
    padding: 10px 0;

}
.c-footer-box{
    width: 280px;
    /* max-width: 25%; */
    padding: 10px 15px;
}
.c-footer-box h5{
    padding: 5px 0;
    font-size:16px;
    color: #023047;
}
.c-footer-box h2{
    padding: 5px 0;
    font-size: 24px; 
    color: #023047;
}
.c-footer-box p{
    color: gray;
    padding: 5px 0;
}
.c-footer-info .material-symbols-outlined{
    color: #023047;
}
.c-footer-info{
    padding: 8px 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #023047;
}