.viewtechrequest{
    height: 100vh;
    width: 100vw;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.techcenterdiv{
    /* margin: auto; */
    margin-top: 40px;
    height: 80%;
    /* border: 2px solid red; */
    border-radius: 5px;
    width: 95%;
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: white;

}
.navtopfortech{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: unset;
    background-color: #457b9d;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
    font-weight: bold;
}

.ma-vtr-bottom{
  height: 90%;
overflow: auto;  
width: 100%;
}
.ma-vtr-fullhead{
  height: 40px;
  overflow: hidden;
  box-shadow: 2px 1px 4px #000;
  background-color: #ebebeb;


}
.ma-vtr-dhead{
  height: 40px;
  width: unset;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ebebeb;

}
.ma-vtr-dbody{
  height: 210px;
  transition: all 0.5s ease;
  /* animation: openwrap 1s forwards; */
  overflow: auto;
}
.ma-vtr-openwrap{
  height: 40px ;
  animation: openwrap 1s forwards;
}
@keyframes openwrap {
  form{
    height: 40px;
  }
  to{
    height: 250px;
  }
  
}
.ma-vtr-dhead-body{
  width: 25%;
}

.ma-vtr-count{
  background-color: #80ed99;
  height: 30px;
  width: 30px;
  /* outline: 1px solid #000; */
  /* width: fit-content; */
  /* padding: 0 4px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* color: #ffff; */

  border-radius: 50%;
}
.ma-vtr-dreq{
  width: unset;
  background-color: #caf0f8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 18%;
  padding: 0 10px;
  box-shadow: 1px 1px 2px #000000;
  position: relative;
}

.ma-vtr-colorgreen{
  background-color: #c7f9cc;

}
.ma-vtr-name{
  padding: 0 2px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.padding{
  padding: 0 3px;
}

/* loading skeleton css */
.ma-vtr-dhead-loader{
  
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ebebeb;
  position: relative;
  overflow: hidden;
  margin: 2px 0;
}
.ma-vtr-dhead-loader::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(197, 179, 179, 0.4), transparent);
  animation: loading 1.5s infinite;
}
@keyframes loading{
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.ma-vtr-btn{
  position: absolute;
  right: 15px;
  top: 6px;
  height: 24px;
  width: 8px;
  background: transparent;
  border: none;
}
.ma-vtr-btn img{
  height: inherit;
  width: inherit;
  filter: invert(.3);
}
.ma-vtr-btn img:hover{
  filter: invert(.1);
}
.ma-vtr-dbtn{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 25px;
  /* padding: 10px 0; */
  border-radius: 4px;
  animation: opendbtn 0.4s forwards ease;
  z-index: 6;
  background-color: #457b9d;
  transform-origin: top right;
}
.ma-vtr-dbtn button{
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
}
.ma-vtr-dbtn button:hover{
 background: #000;
}
.ma-vtr-dbtnshow{
  animation: opendbtn 0.4s forwards ease;
}
@keyframes opendbtn {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.ma-vtr-dbtn button{
  padding: 3px 15px;
  width: 100%;
background: transparent;
border: none;
box-shadow: 1px 1px 1px #caf0f8;
}









@media (max-width:768px) {
  .navtopfortech{
    height: auto;
    padding: 4px 0px;
  }
  .navtopfortech .techleft{
    font-size: 1.5em;
  }
.ma-vtr-dreq{
  height: fit-content;
  flex-direction: column;
  padding: 8px 0;
}
.ma-vtr-openwrap{
  height: 40px ;
  animation: openwrap 1s forwards;
}
.ma-vtr-dbody{
  height: 310px;
}
@keyframes openwrap {
  form{
    height: 40px;
  }
  to{
    height: 350px;
  }
  
}
.techcenterdiv{
  height: 82%;
}
    
}
