.ad-vp-fullscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #edf6f9;
    position: relative;
}

.ad-emp-center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px #0000;
}
.ad-emp-boxtop{
    margin-top: 50px;
    width: 100%;
    outline: 1px solid red;
    height: fit-content;
    position: relative;
   
 background-color: #f2e9e4;
justify-content: center;
flex-direction: column;
}
.ad-emp-dotsbtn{
    z-index: 4;
    position: absolute;
    right: 10px;
    top: 35px;
    height: 36px;
    width: 12px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.ad-emp-dotsbtn:hover .ad-emp-3dots{
    filter: invert(0.5);
}
.ad-emp-3dots{
    height: 30px;
    width: 10px;
}
.ad-em-hidbox{
    position: absolute;
    top: 55px;
    right: 20px;
    width: 100px;
    height: fit-content;
    animation: opendots 0.6s forwards;
    transform-origin: top;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    z-index: 8;
}
@keyframes opendots {
    0%{
    transform: scaleY(0);
    
    }
   
    100%{
        transform: scaleY(1);
    }
    
}
.ad-emp-upbtn{
    width: 100%;
    text-align: center;
    background-color: #c0b4b4;
    text-decoration: none;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    color: black;
    border: none;
    outline: 1px solid grey;

}
.ad-emp-upbtn:hover{
    transition: all 0.3 ease;

}
.ad-emp-info-head{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: unset;
    max-width: 500px;
    padding: 1px 0px;
    padding-right: 5px;
    padding-right:8px !important;
    user-select: none;
    font-weight: bold;
}
.colormanager{
    background: #74c69dd3;
    padding: 1px 4px;
    border-radius: 2px;

}
.colortechnician {
    background-color: #e7c6ff;
    padding: 1px 4px;
    border-radius: 2px;
}
.ad-emp-backbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 90deg;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: none;
    display: none;
    cursor: pointer;
}
.ad-emp-backbtn img{

height: inherit;
width: inherit;
}
.ad-emp-mapitem{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid green;


}
.ad-emp-dataitem{
    width: 80%;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px;
}
.ad-emp-dataitem li{
    padding: 4px 0;
    width: 23%;
    overflow-wrap: wrap;
    word-wrap: wrap;
    text-align: center;
}
.bolditem{
    font-weight: bold;
}
.ad-emp-maphead{
    width: unset;
    display: flex;
    
    height: 40px;
    align-items: center;
    padding: 8px 0;
}
.ad-emp-dataitemhead{
    width: 100%;
    display:flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.ad-emp-dataitemhead li{
    width: 23%;
    text-align: center;
}
.ad-emp-inputdivhead{
    width: 20%;
    display: flex;
    justify-content: flex-end;

}
.ad-emp-inputdivhead input{
    width: 40%;
    text-align: center;
}
.ad-emp-inputdivhead button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.ad-emp-inputdivhead img{
    height: inherit;
    scale: 0.6;
}
.ad-emp-inputdiv{
    width: 12%;
    
    padding: 4px 20px;
    height: 30px;
    display: flex;
    justify-content: center;
}


.ad-emp-inputdiv button{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   outline: 1px solid black;
   border-radius: 4px;
   background: #023047;
   color: #edf6f9;
   border: none;
   padding: 5px 10px;

}
.ad-emp-inputdiv img{
    height: inherit;
    width: inherit;
    transform: scale(0.6);
}
.ad-emp-rstbtn{
        background-color: #bee9e8;
        margin-left: 10px;
        border: none;
        border-radius: 4px;
        padding: 0 10px !important;
        font-weight: bold;
}
.ad-emp-rstbtn:hover{
    background-color: #54d9d7;
}
.ad-emp-spanlen{
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
}
.ad-emp-progressbtns{
    background-color: #c0b4b4;
}
.ad-emp-progressbtns ul{
    display: flex;
    padding: 10px 0px;
    list-style: none;
}
.ad-emp-progressbtns li{
    padding: 0 20px ;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ad-emp-progressbtns li:hover{
    text-decoration: underline;
}




@media (max-width:786px) {
    
    .ad-emp-backbtn{
        display: flex;
    }
    .ad-emp-dataitemhead{
        display: none;
      
    }
    .ad-emp-inputdivhead{
       width: 100%;
    }
    .ad-emp-dataitem li{
        width:auto ;
    }
    .ad-emp-mapitem{
        flex-wrap: wrap;
    }
    .ad-emp-progressbtns ul{
        width: 100%;

    }
    .ad-emp-progressbtns li{
        width: 25%;
        padding: 0 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}







.card {
    width: 250px;
    height: 200px;
    perspective: 1000px;
    margin: 20px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  
  .card-front {
    background-color: #274c77;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  .ad-emp-count{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    color: #fdfffb;
    text-shadow: 2px 2px 4px #000000;

  }
  
  .card-back {
    background-color: #c7f9cc;
    color: #fff;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
    position: relative;
  }
  .ad-vp-bs-head{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #023047;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    position: sticky;
    }
    .ad-vp-bs-body{
        height: 80%;
        background-color: #c7f9cc;
        border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
        overflow: auto;
    }
    .ad-vp-bs-subbody{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 4px;
        border-bottom: 1px solid #22577a;
        height: 25%;
    }
    .ad-vp-bs-bname{
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        color: black;
    }
    .ad-vp-bs-bcount{
        color: #000000;

    }
    
  
  .ad-emp-info-body{
    height:fit-content;
    width: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    margin: 10px 0;
    overflow-y: auto;
  }


  @media (max-width:768px) {
    .ad-emp-info-body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;

    }
  }