.ad-emp-heading{
    width: 100%;
    text-align: center;
    background-color: var(--manager);
    color: var(--onmanager);
}

@media (max-width:668px) {
    .ad-adm-vibtn{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}