
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Jockey+One&family=Jost&family=Kalam:wght@300;400&family=Marhey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Jockey+One&family=Jomolhari&family=Jost&family=Kalam:wght@300;400&family=Marhey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Itim&family=Jockey+One&family=Jomolhari&family=Jost&family=Kalam:wght@300;400&family=Marhey&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Itim&family=Jockey+One&family=Jomolhari&family=Jost&family=Kalam:wght@300;400&family=Marhey&family=Mukta:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.root{
  overflow: hidden;

}
.btndisbale{
  opacity: 0.6;
}
.btndisbale:hover{
}
.color-red{
  scale: 1 !important;
}
::-webkit-scrollbar{
  z-index: -1;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb{
  z-index: -1;

    background-color: rgb(171, 164, 193);
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track{
  z-index: -1;

    background-color: rgb(26, 23, 23);
    
  }
  :root{
    --onprimary:#03045e;
    --primary:#EEF4F9;
    --org:#fb8500;
    --primarydark:#bdbfc0;
    --secondary:#274c77;
    --manager:#7cdda9ba;
    --onmanager:#1b4332;
    
  }
  @media (max-width:768px) {
    

::-webkit-scrollbar{
  display: none;

  }
  ::-webkit-scrollbar-thumb{
    display: none;

  }
  ::-webkit-scrollbar-track{
  display: none;
  }

  }
 

  .logoutbtncommon{
    padding: 0 14px ;
    font-weight: bold;
    background: none;
    border: none;
    color: whitesmoke;
  }
button{
  transition: all 0.5s ease !important ;
}
/* 
  @media (max-width:600px) {
    
  }
  @media (max-width:839px) {
    
  } */