*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.root{
  overflow: hidden;

}
.btndisbale{
  opacity: 0.6;
}
.btndisbale:hover{
}
.color-red{
  scale: 1 !important;
}
::-webkit-scrollbar{
  z-index: -1;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb{
  z-index: -1;

    background-color: rgb(171, 164, 193);
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track{
  z-index: -1;

    background-color: rgb(26, 23, 23);
    /* border-radius: 40px; */
    
  }
  @media (max-width:768px) {
    

::-webkit-scrollbar{
  display: none;

  }
  ::-webkit-scrollbar-thumb{
    display: none;

  }
  ::-webkit-scrollbar-track{
  display: none;
  }

  }

  .logoutbtncommon{
    padding: 0 14px ;
    font-weight: bold;
    background: none;
    border: none;
    color: whitesmoke;
  }