
.msggcontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    top: 0;
    background-color: #00000069;
    z-index: 20;
}
.msgbody1{
    position: relative;
    display: inline-block;
    margin: auto;
    border: 2px solid #ffff;
    height: 35%;
    width: 25%;
    border-radius: 15px;
    background-color: var(--onprimary);
    color: var(--primary);

}
.msgbody1 button:hover{
    background-color: #f4dea8;
}
.msgbody1 button{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
   
     padding: 10px 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #faedcd;
    border-top: 2px solid #ffff;
    font-weight: bolder;
    font-size: 20px;
    }
    .msgbody1 h2{
        text-align: center;
        background-color: #cdb4db;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: black;
        border-bottom: 1px solid #ffff;
    }
    .msgbody1 p{
        height: 75%;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        display: flex;
        justify-self: center;
        font-weight: bold;
        color: white;
        font-size: 1.2rem;
    }
@media (max-width: 768px) {
    .msgbody1{
        width: 70%;
        height: 30%;
    }
    .msgbody1 h2{
        font-size: 20px;
        border-bottom: 2px solid #ffff;
        height: auto;

    }
    .msgbody1 button{
        height: auto;
    }
    .msgbody1 p{
        font-size: 16px;
    }
}